tests/input/
tests/output/
tests/geometry_output/
normalization/__pycache__
normalization/__pycache__/
training/imagesTr/
training/labelsTr/
geometry/__pycache__/
geometry/__pycache__/geometry_master.cpython-311.pyc
